/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$color-main-bg: #565656;
$color-content-bg: #fefefe;
$color-text: #282425;

$size-content-width: 1100px;
$size-content-padding: 58px;
$size-sidebar-width: 220px;

body {
	background: $color-main-bg;
	color: $color-text;
	font-family: calibri;
}

#content-center {
	margin: 0 auto;
	width: $size-content-width;

	.content-section {
		background: $color-content-bg;
		border: 1px solid #444;
		border-top: 0;
		margin-left: $size-sidebar-width;
		min-height: 400px;
	}
}

#sidebar {
	float: left;
	width: $size-sidebar-width;

	nav {
		padding-top: $size-sidebar-width/8;
		color: $color-content-bg;

		li {
			padding: 12px 0;
			font-size: 1.3em;
			text-align: center;
		}
	}
}

#rpgr-logo {
	background: #313133;
	color: $color-content-bg;
	font-family: gentium;
	font-size: 3.4em;
	font-weight: bold;
	padding: 20px 0;
	position: relative;
	text-align: center;
	width: 100%;

	&::after {
		border: 0px solid transparent;
		border-width: $size-sidebar-width/8 $size-sidebar-width/2;
		border-top-color: #313133;
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}
}

h1, h2, h3 {
	background: #ebebec;
	color: #6d6e6f;
	font-family: gentium;
	text-transform: uppercase;
	padding: 16px 32px;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }